# 심부전 데이터셋
- 심혈관 질환은 전 세계적으로 사망 원인 1위다.
- 매년 약 1,790만명이 심혈관 질환으로 사망하는데, 이는 전 세계 사망자의 31%에 해당된다.
- 사망 5명 중 4명은 심장마비와 뇌졸증으로 인해 발색하고 3분의 1은 70세 미만의 나이로 조기 사망한다.




# 데이터셋 변수
- Age: 환자의 나이
- Sex: 환자의 성별
- ChestPainType: 흉통 유형
 - TA[Typical Angina]: 전형적인 혐심증(가슴 통증)
 - ATA[Atypical Angina]: 비전형적인 혐심증(TA의 통증과는 다른 통증이며, 불쾌감, 어깨 통증, 호흡곤란 등 다양한 형태의 통증)
 - NAP[Non-Anginal Pain]: 비협심증 흉통(심장과 관련된 원인이 아닌 다른 요인에 의해 발생하는 가슴통증)
 - ASY[Asymptomatic]: 무증상
- RestingBP: [resting blood pressure]: 안정된 상태에서 측정된 혈압
- Cholesterol: [serum cholesterol]: 혈액 내의 콜레스테롤 농도
- FastingBS: [fasting blood sugar]: 공복 상태에서 측정된 혈당
 - 1: 만약 공복 혈당이 120mg/dl 보다 높음
 - 0: 그 외 수치
- RestingECG: [resting electrocardiogram result]: 안정된 상태에서 측정된 심전도
 - Normal: 정상적인 상태
 - ST:ST-T에 이상을 가지고 있는 상태(심전도 검사에서 관찰되는 ST 세그먼트와 T파에 이상이 생기면 심장 혈류에 영향으로 심장 문제 발현)
 - LVH: 심장의 좌심실이 비정상적으로 커진 상태
- MaxHR: [maximum heart rate achieved]: 최대 심박수(60 ~ 220 사이)
- ExerciseAngina: 운동 시 협심증을 경험 했는지 여부
 - Y: 예
 - N: 아니요
- HeartDisease: 심장병 여부
 - 1: 심장병
 - 0: 정상

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

heart = pd.read_csv('heart.csv')
heart.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'HeartDisease'],
      dtype='object')

In [4]:
heart.head(3)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,HeartDisease
0,40,M,ATA,140.0,289,NaN,Normal,172,N,0.0
1,49,F,NAP,160.0,180,NaN,Normal,156,N,NaN
2,37,M,ATA,NaN,283,NaN,ST,98,N,NaN